*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
.header{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    /* border:1px solid black; */
}
.header-logo{
    width:177px;
    height:42px;
    margin-top:5px;
    background:url(../images/logo.png) no-repeat;
    /* margin-top:5px; */
}
.header-nav{
    position: absolute;
    right: 150px;
    top:10px;
    width: 600px;
    height: 50px;
    /* border:1px solid black; */

}
.header-nav li{
    float:left;
    padding-left:60px;
}
.header-nav a{
    font-size:14px;
    color:grey;
}
.header-nav a:hover{
    color: black;
    text-decoration: underline;
}
.header-nav .underline{
    color: black;
    text-decoration: underline;
}
.banner{
    width: 100%;
    height: 270px;
    background: url(../images/bgimg8.png) no-repeat;
    /* border: 1px solid orange; */
}
.activities{
    width: 100%;
    height: 207px;
    /* border: 1px solid black; */
}
.activities span{
    display: block;
    width: 120px;
    height: 30px;
    font-size:25px;
    margin: 0 auto;
    line-height: 207px;
}
.activities p{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    color: grey;
    line-height: 207px;
}
.paris{
    width: 100%;
    height: 200px;
    background:url(../images/activity0618.png) no-repeat;
    /* border:1px solid orange; */
}
.interview{
    position: relative;
    width: 100%;
    height:200px;
    /* border: 1px solid green; */
}
.interview .date{
    width: 160px;
    height: 100px;
    margin: 0 auto;
    margin-top:50px;
    /* border:1px solid black; */

}
.interview .date span{
    font-size:55px;
    color: grey;
}
.interview .date p{
    color: grey;
    margin-left:110px;
}
.interview .introduction{
    position:absolute;
    top:50px;
    right:150px;
    width: 490px;
    height: 100px;
    /* border: 1px solid black; */
}
.interview .introduction p{
    margin-top:30px;
}
.christmas{
    position: relative;
    width: 100%;
    height:200px;
    border-top: 1px solid black;

}
.christmas .date{
    width: 160px;
    height: 100px;
    margin: 0 auto;
    margin-top:50px;
    /* border:1px solid black; */

}
.christmas .date span{
    font-size:55px;
    color: grey;
}
.christmas .date p{
    color: grey;
    margin-left:110px;
}
.christmas .introduction{
    position:absolute;
    top:50px;
    right:150px;
    width: 490px;
    height: 100px;
    /* border: 1px solid black; */
}
.christmas .introduction p{
    margin-top:30px;
}
.page{
    position: relative;
    width: 100%;
    height:100px;
    border-top: 1px solid black;
}
.page .page1{
    position: absolute;
    top:50%;
    left:48.5%;
    width: 30px;
    height: 30px;
    background: rgba(0, 0,0, 0.5);
    /* border: 1px solid orange; */
    /* margin:0 auto; */

}
.page .page1 span{
    display: block;
    line-height: 30px;
    text-align: center;
    color:white;
}
.page .page2{
    position: absolute;
    top:50%;
    left:51.5%;
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    /* margin:0 auto; */   
}
.page .page2 span{
    display: block;
    line-height: 30px;
    text-align: center;
    color:black;
}
.footer{
    position: relative;
    width:100%;
    height: 100px;
    /* border:1px solid orangered; */
}
.footer-left{
    position: absolute;
    top:40px;
    left: 300px;
    display: block;
    width: 500px;
    height: 50px;
    /* border: 1px solid black; */
}
.footer-right{
    position: absolute;
    right: 0px;
    bottom: -30px;
    display: block;
    width: 500px;
    height: 80px;
    /* border:1px solid black; */
    
}
.footer-right li{
    
    float:left;
    padding-left:50px;
    line-height: 50px;
}
.footer-right a{
    color: black;
}